.skrollable .skrollable-after{
	position: relative;
}
.skrollable .skrollable-between{
	position: relative;
}

.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:-10;
}

.skrollr-mobile .skrollable {
	/*
		May cause issues on Android default browser (see #331 on GitHub).
	*/
	position:absolute;
}

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}


#where{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 50px;
  background: rgba(0,0,0,0.7);
  color: #FFF;
  text-align: center;
  font-size: 40px;
  z-index: 2;
  display: none;
}
/*===============end================*/
@import "https://fonts.googleapis.com/css?family=Roboto";

@font-face{
	font-family: 'Cardenio_Modern';
	src: url('../fonts/Cardenio_Modern.ttf');
	font-weight: normal;
}

html, h1,h2,h3, p, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
/*  text-rendering: optimizeLegibility;
*/  color: #606060;
  overflow-x: hidden;
}

section {
	width: 100%;
	height: 1800px;
	margin: 0 auto;
	padding: 0 0 0 0;
}


body{
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2{
	font-family: 'Cardenio_Modern';
	margin-bottom: 30px;
	display: block;
	font-size: 56px;
	font-weight: 400;
	text-align: center;
}

.rellax{
	/*width: 200px;
	height: 200px;*/
	
}

hr{
	color: #0f50a0;
}
.pink{
	color: #fe5f6a;
}
.blue{
	color: #0f50a0;
}
img{
	width: 100%;
}
@keyframes fadeIn { 
  from { opacity: 0; } 
}

#scroll{
	position: absolute;
	width: 10vw;
    max-width: 60px;
    bottom: -30px;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: fadeIn 1.7s infinite alternate;
	font-size: 9px;
	text-align: center;
}



#bg1, #bg2, #bg3{
	z-index:-5000;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: url(../images/BG_small.png) repeat 0 0;
	/*background-size: 70% 60%;*/
	opacity: 0.6;
}

#bg2{
	background:url(../images/BG_medium.png) repeat 0 0;
	opacity: 0.2;
}

#bg3{
	background:url(../images/BG_large.png) repeat 0 0;
	visibility: hidden;
}

#BG{
	position:absolute;
	top:0;
	z-index: -100;
	pointer-events: none;
}

#BG > div{
	pointer-events: none;
}

#BG > div>img{
	pointer-events: none;
}

@media (max-width: 900px) {

	/*bird class*/
	.bird_01{
		position: absolute;
		width: 30%;
		top: 3%;
		right: 0;
	}

	.bird_02{
		position: absolute;
		width: 30%;
		left: 0;
		top: 60vh;
	}

	.bird_03{
		position: absolute;
		width: 30%;
		left: 40vw;
		top: 100vh;
	}

	.bird_04{
		position: absolute;
		width: 35%;
	    right: 3vw;
	    bottom: -200px;
	}
	.bird_05{
		position: absolute;
		width: 40%;
		bottom: -250px;
		left: 7vw;
	}
	.bird_06{
		position: absolute;
		width: 30%;
		bottom: -800px;
		right: 2vw;
	}

	.bird_07{
		position: absolute;
		width: 50%;
		left: 1vw;
		bottom: -1000px;
	}


	#infoWrap{
	  position: absolute;
	  width: 60%; 
	  height: auto;
	  top: 45%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}

	#infoWrap >h1{
		font-size: 40px;
		letter-spacing: 0.1em;
		margin: 0;
	}

	.info{
		margin-top: 30px;
	    line-height: 1.5em;
	    font-size: 16px;
		color: #3E3E3E;
	}
	#progress {
		position:fixed;
		margin-top: 30px;
		height:10px;
		background:gold;
		bottom:0;
		z-index:2;
		opacity: .6;
	}

	#title {
		z-index:1;
		width: 100%;
		/*height: 100vh;*/
		padding-top: 3%;
		text-align:left;
		
	}
	audio{
		/*position: absolute;
		bottom: 0;
		left: 0;*/
		width: 100%;

		/*background-color: gray;*/
	}

	#interview{
		/*position: relative;*/
		z-index: -2;
		height: 6800px;
		width: 1030px;
		/*background-color: gray;*/
	}

	/*outter div for animation*/
	.bird_visa{
		margin-top:7%;
		z-index: 1;
		/*width: 930px;*/
		margin: 0 auto;
		/*top: 50%;*/
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.float{
		width: 100%;
		max-width: 420px;
    /* float: right; */
    margin-bottom: 25px;
	}

	.float >h2{
		/*font-family:'Roboto';*/
		margin-bottom: 20px;
		display: block;
		font-size: 30px;
	    text-align: left;
	    font-weight: 300;

	}
	/*make VISA image shadow with radious*/
	.shadow{
		border-radius: .7em;
		box-shadow: 5px 5px 10px 3px #adabab;
	}

	.overlay{
		height: 40px;
		width: 40px;
		position: absolute;
		padding-top: 7%;
		z-index: 20;
		top: 20%;
		left: 45%;
		visibility: hidden;
	}


	/*resoureces*/
	#resources{
		z-index: -2;
		height: 6100px;
		width: 1030px;
		/*background-color: black;*/
	}

	.active{
		visibility: visible;
	}
	.floatL{
		float: left;
		width: 45%;
		bottom: 0;
		position: absolute;
		/*padding-top: 40px;*/
	}

	.floatR{
		width: 95%;
	    float: right;
	    padding-right: 5%;
	}

	.bird_resource{
		/*margin-top:3%;*/
		z-index: 1;
		width: 90%;
		height: 400px;
		margin: 0 auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.resources_heading{
		text-align: left;
	    margin-bottom: 25px;
	    font-size: 13px;
	    line-height: 1.3em;
	}

	.text{
		width: 400px;
		height: 400px;
		position: absolute;
		right: 0;
		top: 0;
		/*background-color: yellow;*/
	}

	.imageSlide{
		height: 100px;
		text-align: right;
		position: absolute;
		left: -20px;
		bottom: 0;
	/*	background-color: gold;
	*/}
	.imageSlide a img{
		width: 23%;
	    height: 100%;
	    margin-right: 2px;
		box-shadow: 3px 3px 4px 0px #adabab;
	}
}

@media (min-width: 900px) {
	/*bird class*/
	.bird_01{
		position: absolute;
		width: 250px;
		top: 70px;
		right: 10vw;
	}

	.bird_02{
		position: absolute;
		width: 150px;
		left: 7vw;
		top: 30vh;
	}

	.bird_03{
		position: absolute;
		left: 40vw;
		width: 170px;
		top: 90vh;
	}

	.bird_04{
		position: absolute;
		right: 13vw;
		width: 250px;
		bottom: -200px;
	}
	.bird_05{
		position: absolute;
		width: 170px;
		bottom: -250px;
		left: 14vw;
	}
	.bird_06{
		position: absolute;
		width: 300px;
		bottom: -700px;
		right: 20vw;
	}

	.bird_07{
		position: absolute;
		left: 17vw;
		width: 300px;
		bottom: -900px;
	}


	#infoWrap{
	  position: absolute;
	  width: 450px; 
	  height: auto;
	  top: 45%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}

	#infoWrap >h1{
		font-size: 66px;
		letter-spacing: 0.1em;
		margin: 0;
	}

	.info{
		margin-top: 30px;
		line-height: 19px;
		font-size: 15px;
	}
	#progress {
		position:fixed;
		margin-top: 30px;
		height:10px;
		background:gold;
		bottom:0;
		z-index:2;
		opacity: .6;
	}

	#title {
		z-index:1;
		width: 1030px;
		/*height: 100vh;*/
		padding-top: 3%;
		text-align:left;
		
	}
	audio{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 420px;
		/*background-color: gray;*/
	}

	#interview{
		/*position: relative;*/
		z-index: -2;
		height: 6800px;
		width: 1030px;
		/*background-color: gray;*/
	}

	/*outter div for animation*/
	.bird_visa{
		margin-top:7%;
		z-index: 1;
		width: 930px;
		margin: 0 auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.float{
		height: 292px;
		width: 450px;
		float: right;
	}

	.float >h2{
		/*font-family:'Roboto';*/
		margin-right: 30px;
		display: block;
		font-size: 50px;
	    text-align: left;
	    font-weight: 300;

	}
	/*make VISA image shadow with radious*/
	.shadow{
		border-radius: .7em;
		box-shadow: 5px 5px 10px 3px #adabab;
		margin-right: 30px;
	}

	.overlay{
		height: 40px;
		width: 40px;
		position: absolute;
		padding-top: 7%;
		z-index: 20;
		top: 20%;
		left: 45%;
		visibility: hidden;
	}


	/*resoureces*/
	#resources{
		z-index: -2;
		height: 6100px;
		width: 1030px;
		/*background-color: black;*/
	}

	.active{
		visibility: visible;
	}
	.floatL{
		float: left;
		height: 430px;
		/*padding-top: 40px;*/
	}

	.floatR{
		height: 292px;
		width: 400px;
		float: right;
	}

	.bird_resource{
		/*margin-top:3%;*/
		z-index: 1;
		width: 930px;
		height: 430px;
		margin: 0 auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.resources_heading{
		text-align: left;
		margin-bottom: 25px;
		    font-size: 15px;
	}

	.text{
		width: 400px;
		height: 430px;
		position: absolute;
		right: 0;
		top: 0;
		/*background-color: yellow;*/
	}

	.imageSlide{
		height: 120px;
		text-align: right;
		position: absolute;
		left: 0;
		bottom: 0;
	/*	background-color: gold;
	*/}
	.imageSlide a img{
		width: 92px;
		height: 100%;
		margin-right: 5px;
		box-shadow: 3px 3px 4px 0px #adabab;
	}
}


#dataViz{
	/*position: fixed;*/
	/*padding-top: 20px;*/
	z-index: -10;
	height: 800px;
}
iframe{
	max-height: 800px;
}
